@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@500&display=swap");


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:rgb(251, 247, 250);
}
img {
  cursor: pointer;
}
.card {
  width: 360px;
  min-height: 528px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 24px 64px rgba(0, 0, 0, 4%);
}
.photo {
  position: relative;
}
.info {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  /* padding: 7px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 34px 24px 30px 24px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.green-leaf {
  width: 24px;
  height: 24px;
  background-color: #2ecc71;
  padding: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 50%;
}
.span-head {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 100;
  color: #081f32;
}
.red-fire {
  width: 24px;
  height: 24px;
  background-color: #f8593b;
  padding: 5px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  border-radius: 50%;
}
.yellow-wheat {
  width: 24px;
  height: 24px;
  background-color: #ffc22b;
  padding: 5px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  border-radius: 50%;
}
.badge {
  display: flex;
  align-items: center;
  gap: 9px;
}
.about-food {
  margin-top: 23px;
}
.p-light {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  color: #6e798c;
}
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.span-light {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #a5adbb;
}
.span-bold {
  font-family: "DM Serif Display", serif;
  font-size: 28px;
  font-weight: 100;
  color: #081f32;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
}

.btn button {
  /* padding: 17px 29px; */
  width: 114px;
  height: 44px;
  background-color: #2ecc71;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.price {
  display: flex;
  align-items: center;
  gap: 24px;
}
.span-red {
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  font-size: 20px;
  color: #f8593b;
}
