.about {
    /* background: #dddddd1a; */
}
.aboutImg img {
    width: 400px;
    max-width: 100%;
    max-width: 100%;
}


.animation {
    animation: about 2s infinite;
}

@keyframes about {
    0% {
         transform: translateY(-3px);
    }

    50% {
         transform: translateY(3px);
    }

    100% {
         transform: translateY(-3px);
    }
}
