nav.navbar.navbar-expand-lg {
    background: #7F5BE4;
    box-shadow: 0px 12px 43px -8px #55475e
}
i#likeBtn {
    color: white;
    cursor: pointer;
}
i#likeBtn:hover{
    color:red
}
li.nav-item a {
    color: white;
}

/* =================== */
